SceneConfig(
    gltf_sources: [
        ("assets/gltf/SciFiHelmet", "SciFiHelmet.gltf"),
        ("assets/gltf/Corset", "Corset.gltf"),
        ("assets/gltf/FlightHelmet", "FlightHelmet.gltf"),
    ],
    entities: [
        // SciFi Helmet
        SceneEntity(
            data: Separate(
                transform: Manual((
                    scale: 0.15,
                )),
                mesh: Some(Index(0, 0)),
            ),
            parent: None,
        ),
        // Corset
        SceneEntity(
            data: Separate(
                transform: Manual((
                    translation: (0.5, -0.4, 0.0),
                    scale: 10.0,
                    euler_rotation: (0.0, 3.14159, 0.0),
                )),
                mesh: Some(Index(1, 0)),
            ),
            parent: None,
        ),
        // Flight helmet root
        SceneEntity(
            data: Separate(
                transform: Manual((
                    translation: (-0.5, 0.0, 0.0),
                    euler_rotation: (0.0, 3.14159, 0.0),
                )),
                mesh: None
            ),
        ),
        // Flight helmet pieces
        SceneEntity(
            data: Combined(Index(2, 0)),
            parent: Some(2),
        ),
        SceneEntity(
            data: Combined(Index(2, 1)),
            parent: Some(2),
        ),
        SceneEntity(
            data: Combined(Index(2, 2)),
            parent: Some(2),
        ),
        SceneEntity(
            data: Combined(Index(2, 3)),
            parent: Some(2),
        ),
        SceneEntity(
            data: Combined(Index(2, 4)),
            parent: Some(2),
        ),
    ]
)